// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/layout";

h1 {
  @include header-text;
}

h2 {
  @include header-text;
  @include quiet;
}

#msg {
  width: 100%;
  @include loud; }

#log {
  border-top: 3px solid red;}

.goog-tooltip {
  background: infobackground;
  color: infotext;
  border: 1px solid infotext;
  padding: 1px;
  font: menu large;
}

.nick {
  color: $notice-color;
  font-style: italic;
  font-weight: bold;
}

.nick:before {
  content: "@";
  vertical-align: super;
  font-size: 60%;
}

.me:before {
  content: "\03BB";
  vertical-align: super;
  font-size: 60%;
  color: $notice-color;
}

.me:hover::before {color: red;}

.ac-renderer {
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}

.tstamp {
  padding: 0 .4em 0 0;
}
