// Page layout can be done using mixins applied to your semantic classes and IDs
// For instance this layout defines a two column layout on pages with
// a body class of "two-col".
//
// The markup would look like:
//    <div id="container">
//      <div id="header"></div>
//      <div id="sidebar"></div>
//      <div id="content"></div>
//      <div id="log"></div>
//      <div id="footer"></div>
//    </div>
//
// and the layout would look like:
//    +------------------------+
//    |        #header         |
//    +--------+---------------+
//    |        |               |
//    |#sidebar|    #content   |
//    |        |               |
//    +------------------------+
//    |        #log            |
//    +--------+---------------+
//    |        #footer         |
//    +--------+---------------+

@import "compass/layout.scss";

body.demo {
  #container {
    @include container; }
  #header {
    @include column($blueprint-grid-columns); }
  #footer {
    @include container;
    @include column($blueprint-grid-columns);
    @include sticky-footer(250px);
  }
  #footer ul {
    @include horizontal-list(); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true);
    #messages {
      max-height: 500px;
      min-height: 200px;
      overflow-y: auto; } }
  #log {
    width: 100%;
    height: 35%;
    overflow: auto;}}
